#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cursor-pointer{
  cursor: pointer
}
.search-container{
  position: relative
}
.search-container .search-results{
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 999;
}
